<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auc.mapper.AdminMapper">


    <!--查询管理员列表表格数据-->
    <select id="selectAdmin" parameterType="java.util.Map" resultType="com.auc.pojo.Admin">
        select w.worker_id,w.worker_account,w.worker_password,w.worker_name,w.worker_createtimr,
        w.worker_phone,w.worker_age,w.worker_address,
        (select r.role_name from t_role as r where r.role_id=w.role_id ) roleName,
        (select p.param_name from t_param as p where p.param_value= w.worker_state )StateName,
        (select pp.param_name from t_param as pp where pp.param_value=w.worker_sex)sexName
        from t_worker as w where 1=1

        <if test="condition.adminName !=null and condition.adminName !='' ">
            and w.worker_name like concat('%',#{condition.adminName},'%')
        </if>
        <if test="condition.account !=null and condition.account!=''">
            and w.worker_account like concat('%',#{condition.account},'%')
        </if>
        <if test="condition.phone !=null and condition.phone!=''">
        and  w.worker_phone like concat('%',#{condition.phone},'%')
        </if>
        <if test="curPage !=null and pageSize !=''">
            limit #{curPage},#{pageSize};
        </if>
    </select>

<!--    查询计算管理员数据相关条数-->
    <select id="selectAdminCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(worker_id) from t_worker as w where 1=1

        <if test="condition.adminName !=null and condition.adminName !='' ">
            and w.worker_name like concat('%',#{condition.adminName},'%')
        </if>
        <if test="condition.account !=null and condition.account!=''">
            and w.worker_account like concat('%',#{condition.account},'%')
        </if>
        <if test="condition.phone !=null and condition.phone!=''">
            and  w.worker_phone like concat('%',#{condition.phone},'%')
        </if>
    </select>
<!--    删除管理员账号-->
    <delete id="deleteAdmin" parameterType="java.lang.String">
        delete from t_worker where worker_account=#{workerAccount}
    </delete>

<!--    修改密码-->
    <update id="updateAdminPassword" parameterType="java.lang.String">
  update t_worker as w  set w.worker_password='123456' where w.worker_account=#{workerAccount}
    </update>
</mapper>