<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auc.mapper.AdminMapper">
    <select id="Longin" resultType="com.auc.pojo.Admin">
       select * from t_vip
       <where>
       <if test="vipAccount!=null and vipAccount!=''">and vip_account = #{vipAccount}</if>
       <if test="vipPassword!=null and vipPassword!=''">and vip_password = #{vipPassword}</if>
       limit 1
       </where>
    </select>

    <!--查询管理员列表表格数据-->
    <select id="selectAdmin" parameterType="java.util.Map" resultType="com.auc.pojo.Admin">
        select w.worker_id,w.worker_account,w.worker_password,w.worker_name,
        w.worker_phone,w.worker_age,w.worker_sex,w.worker_address,
        (select r.role_name from t_role as r where r.role_id=w.role_id ) roleName,
        (select p.param_name from t_param as p where p.param_value= w.worker_state )StateName
        from t_worker as w where 1=1

        <if test="condition.adminName !=null and condition.adminName !='' ">
            and w.worker_name like concat('%',#{condition.adminName},'%')
        </if>
        <if test="condition.account !=null and condition.account!=''">
            and w.worker_account like concat('%',#{condition.account},'%')
        </if>
        <if test="condition.phone !=null and condition.phone!=''">
        and  w.worker_phone like concat('%',#{condition.phone},'%')
        </if>
        <if test="curPage !=null and pageSize !=''">
            limit #{curPage},#{pageSize};
        </if>
    </select>

<!--    查询计算管理员数据相关条数-->
    <select id="selectAdminCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(worker_id) from t_worker as w where 1=1

        <if test="condition.adminName !=null and condition.adminName !='' ">
            and w.worker_name like concat('%',#{condition.adminName},'%')
        </if>
        <if test="condition.account !=null and condition.account!=''">
            and w.worker_account like concat('%',#{condition.account},'%')
        </if>
        <if test="condition.phone !=null and condition.phone!=''">
            and  w.worker_phone like concat('%',#{condition.phone},'%')
        </if>
    </select>
</mapper>