<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auc.mapper.RootMapper">

    <!--查询权限数据-->
    <select id="selectRole" parameterType="java.util.Map" resultType="com.auc.pojo.Param">
        select param_id,param_name,param_type,param_value from t_param
        <where>
            param_type='roleurisdiction' and param_value not IN(14,15)
            <if test="paramName!=null and paramName!=''">
               and param_name like concat('%', #{paramName}, '%')
            </if>
        </where>
          limit #{page},#{limit}
    </select>

    <!--查询页码-->
    <select id="queryRoleCount"  resultType="Integer">
           select count(*) from t_param
        <where>
            param_type='roleurisdiction' and param_value not IN(14,15)
            <if test="paramName!=null and paramName!=''">
                and param_name like concat('%', #{paramName}, '%')
            </if>
        </where>
    </select>


    <!--查询系统全部菜单-->
    <select id="inquireMenu"  resultMap="allMenuMap" parameterType="java.lang.Integer">
        select  menu_id,menu_name,menu_url,parent_id from t_menu  where parent_id = #{parentId}
    </select>

    <resultMap id="allMenuMap" type="com.auc.pojo.Menu">
        <id column="menu_id" property="menuId"/>
        <id column="menu_name" property="menuName"/>
        <id column="menu_url" property="menuUrl"/>
        <id column="parent_id" property="parentId"/>
        <collection column="{menuId=menu_id}" property="menuList" ofType="com.cykj.bean.Menu" javaType="java.util.ArrayList"  select="selectAllMenu">
        </collection>
    </resultMap>

    <select id="selectAllMenu" parameterType="java.util.Map" resultType="com.auc.pojo.Menu">
         select  menu_id,menu_name,menu_url,parent_id from t_menu where parent_id = #{menuId}
    </select>



    <!--查菜单方法-->
    <select id="findAdminMenuById"  resultMap="menuMap">
        select m.menu_id,m.menu_name,m.menu_url,m.parent_id,r.urisdiction_id as urisdiction_id from t_menu as m,t_relation as r where m.menu_id=r.menu_id and m.parent_id=#{parentId} and r.urisdiction_id=#{urisdictionId}
    </select>

    <resultMap id="menuMap" type="com.auc.pojo.Menu">
        <id column="menu_id" property="menuId"/>
        <id column="menu_name" property="menuName"/>
        <id column="menu_url" property="menuUrl"/>
        <id column="parent_id" property="parentId"/>
        <collection column="{urisdictionId=urisdiction_id,menuId=menu_id}" property="menuList" ofType="com.auc.pojo.Menu" javaType="java.util.ArrayList"  select="selectMenu">
        </collection>
    </resultMap>

    <select id="selectMenu" parameterType="java.util.Map" resultType="com.auc.pojo.Menu">
         select m.menu_id,m.menu_name,m.menu_url,m.parent_id from t_menu as m,t_relation as r  where m.menu_id=r.menu_id and m.parent_id=#{menuId} and r.urisdiction_id=#{urisdictionId}
    </select>


    <!--    删除该权限等级所有权限-->
    <delete id="deleteAll" parameterType="java.lang.Integer">
         delete from t_relation where urisdiction_id=#{urisdictionId}
    </delete>

    <!--    增加该权限等级所分配到的权限-->
    <insert id="insertAll" parameterType="java.util.Map">
        insert into t_relation(menu_id,urisdiction_id) values
        <foreach item="list"  collection="list"  separator=","   index="index">
            (#{list},#{urisdictionId})
        </foreach>
    </insert>

</mapper>