<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auc.mapper.VipMapper">
    <!--    vip表SQL语句-->

    <!--查询vip列表表格数据-->
    <select id="selectVip" parameterType="java.util.Map" resultType="com.auc.pojo.Vip">
        select v.vip_id,v.vip_name,v.vip_account,v.vip_password,v.vip_carnumber,v.vip_age,v.vip_phone,
        v.vip_address,v.vip_recharge,v.vip_score,v.produce_id,v.vip_startime,v.vip_endtime,
        (select p.param_name from t_param as p where p.param_value=v.vip_sex)sexName,
        (select pr.produce_name from t_produce pr where pr.produce_id=v.produce_id)produceName,
        (select w.worker_name from t_worker as w where w.worker_id=v.worker_id)workerName
        from t_vip as v where 1=1

        <if test="condition.vipName !=null and condition.vipName !='' ">
            and v.vip_name like concat('%',#{condition.vipName},'%')
        </if>
        <if test="condition.account !=null and condition.account!=''">
            and v.vip_account like concat('%',#{condition.account},'%')
        </if>
        <if test="condition.phone !=null and condition.phone!=''">
            and v.vip_phone like concat('%',#{condition.phone},'%')
        </if>
        <if test="condition.vipStarTime !=null and condition.vipStarTime!=''">
            and v.vip_startime >= #{condition.vipStarTime}
        </if>
        <if test="condition.vipEndTime !=null and condition.vipEndTime!=''">
            <![CDATA[
        and v.vip_endtime <= #{condition.vipEndTime}
        ]]>
        </if>

        <if test="curPage !=null and pageSize !=''">
            limit #{curPage},#{pageSize};
        </if>
    </select>

    <!--    查询计算vip数据相关条数-->
    <select id="selectVipCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(v.vip_id) from t_vip as v where 1=1
        <if test="condition.vipName !=null and condition.vipName !='' ">
            and v.vip_name like concat('%',#{condition.vipName},'%')
        </if>
        <if test="condition.account !=null and condition.account!=''">
            and v.vip_account like concat('%',#{condition.account},'%')
        </if>
        <if test="condition.phone !=null and condition.phone!=''">
            and v.vip_phone like concat('%',#{condition.phone},'%')
        </if>
        <if test="condition.vipStarTime !=null and condition.vipStarTime!=''">
            and v.vip_startime >= #{condition.vipStarTime}
        </if>
        <if test="condition.vipEndTime !=null and condition.vipEndTime!=''">
            <![CDATA[
        and v.vip_endtime <= #{condition.vipEndTime}
        ]]>
        </if>
    </select>

    <!--    修改密码-->
    <update id="updateVipPassword" parameterType="java.lang.String">
  update t_vip as v  set v.vip_password='123456' where v.vip_account=#{vipAccount}
    </update>


    <!--    添加vip用户-->
    <insert id="addVip" parameterType="com.auc.pojo.Vip">
    insert into t_vip (vip_account,vip_password,vip_name,vip_phone,vip_age,vip_sex,vip_address,vip_carnumber,produce_id,vip_endtime,worker_id,)
    values (#{vipAccount},#{vipPassword},#{vipName},#{vipPhone},#{vipAge},#{vipSex},#{vipAddress},#{vipCarNumber},add_months(#{vipEndTime},#{produceM}) from dual,#{workerId})
    </insert>


    <!--    查询vip参数表-->
    <select id="selectVipParam" resultType="java.lang.Integer" parameterType="java.lang.String">
    select param_value from t_param where param_name=#{sexName} and param_type='vipSex'
    </select>

    <!--    查询产品id-->
    <select id="selectProduceId" resultType="com.auc.pojo.Produce" parameterType="java.lang.String">
        select * from t_produce where produce_name=#{produceName}
    </select>

    <!--    查询vip账号是否存在-->
    <select id="selectVipAccount" resultType="com.auc.pojo.Vip" parameterType="java.lang.String">
        select * from t_vip as v where v.vip_account=#{vipAccount}
    </select>

    <!--    查询vip手机号码是否存在-->
    <select id="selectVipPhone" resultType="com.auc.pojo.Vip" parameterType="java.lang.String">
        select * from t_vip as v where v.vip_phone=#{vipPhone}
    </select>

    <!--    查询vip车牌号是否存在-->
    <select id="selectVipCarNumber" resultType="com.auc.pojo.Vip" parameterType="java.lang.String">
        select * from t_vip as v where v.vip_carnumber=#{vipCarNumber}
    </select>

    <!--    vip续费-->
    <update id="updateVipProduce" parameterType="com.auc.pojo.Vip">
        update t_vip as v  set vip_endtime=add_months(#{vipEndTime},#{produceM}) from dual where v.vip_account=#{vipAccount}
    </update>

    <!--    明细报表插入-->
    <!--    <insert id="addDetail" parameterType="com.auc.pojo.Detail">-->
    <!--        insert into t_detail(detail_carnumber,detail_event,produce_id,detail_money,worker_id) values (#{detailCarNumber},#{detail_Event},#{produceId},#{detailMoney},#{workerId})-->
    <!--    </insert>-->

    <!--    退费-->


</mapper>